Client/Components/Top.Client.Components.DM.TaobaoInterface/Service References/ServiceReference1/WcfServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8886/Top/WcfServer?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Top.Server.Wcf.Contract.TaobaoInterface" />
  <xs:element name="GetFullShopInfoByNick">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nick" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullShopInfoByNickResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Top.Server.Wcf.Contract.TaobaoInterface" minOccurs="0" name="GetFullShopInfoByNickResult" nillable="true" type="q1:FullShopInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>