Client/Components/Top.Client.Components.DM.TaobaoInterface/Service References/ServiceReference1/WcfServer1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Top.Server.Wcf.Contract.TaobaoInterface" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Top.Server.Wcf.Contract.TaobaoInterface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FullShopInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ApiBaseInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="Bulletin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Cid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LogoUrl" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RemainShowcase" type="xs:int" />
          <xs:element minOccurs="0" name="SellerNick" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Sid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FullShopInfo" nillable="true" type="tns:FullShopInfo" />
  <xs:complexType name="ApiBaseInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modified" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApiBaseInfo" nillable="true" type="tns:ApiBaseInfo" />
</xs:schema>